.navbar-brand .logo-title {
    font-weight: 900;
    font-size: 2.5rem;
}

.footer-title {
    font-weight: 900;
    font-size: 2rem;
}

.hero-btns > a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #eee !important;
    border-radius: .4rem;
    width: 100%;
} 

@media (min-width:768px){
    .hero-btns > a {
        width: none;
        font-size: 2rem;
    }
}

p.sub-title {
    font-size: 2rem;
    line-height: 1.3;
}


p.sub-title-telegram a {
    font-size: 1.7rem;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    transition: .2s;
    line-height: 1.5;
}

p.sub-title-telegram a:hover {
    color: #ddd;
}

.brand_single > a {
    font-size: 1.3rem;
}

@media (min-width:1200px){
    .brand_single > a {
        width: auto !important;
    }
}

.brand_single {
    gap: 1rem;
}

.case_content p {
    min-height: 100px;
}

.case_content a {
    font-size: 1.5rem;
    font-weight: bold;
}


.btn-outline-primary {
    color: #db143c;
    border-color: #db143c;
    border-width: 2px;
    border-radius: 0.8rem;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: #db143c !important;
    border-color: #db143c !important;
}

.navbar-btn .main-btn.viber, .footer_link .main-btn.viber{
    color: purple !important;
    border-color: purple !important;
}

.navbar-btn .main-btn.viber:hover, .main-btn.viber:hover{
    background-color: rgba(128, 0, 128, .3);
}

.navbar-btn .main-btn {
    font-size: 1.2rem;
    padding-left: 18px;
    padding-right: 18px;
}

@media (min-width:768px){
    .navbar-btn {
        display: grid!important;
        grid-template-columns: 1fr 1fr;
    }
}

.visis-us-block a {
    font-weight: bold;
    text-decoration: underline;
}

.visis-us-block .single_features .features_icon i {
    color: orange
}

.visis-us-block .single_features:hover .features_icon i {
    color: white;
    background-color: orange;
}


.courses-main-list .team_image img {
    height: 270px;
    object-fit: cover;
} 

.single_team .team_image .social.show {
    transform: translateY(0);
    color: white;
    background-color: orange;
}

.team_content .btn {
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}


.blue-bg {
    background-color: #e8f4fb;
}

#employment .features li{
    font-size: 1.3rem;
}

.footer_link .main-btn{
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    color: #db143c;
    background-color: transparent;
    border: 2px solid #db143c;
}

.main-btn:hover {
    background-color: rgba(8, 152, 231, .3);
}

.footer_link .main-btn {
    font-size: 1.2rem;
}

.lector-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.about-lector-btn{
    font-size: 1.5rem;
    font-weight: bold;

}

.red-arrow-label {
	background: #ff0000c7;
}

.blue-arrow-label {
	background: #0f2ec3;
}

.green-arrow-label {
	background: #36ab05fa;
}

.orange-arrow-label {
	background: #d88c00;
}

.cyan-arrow-label {
	background: #1facaced;
}

.purple-arrow-label {
	background: #900a90;
}

.arrow-label {
    text-shadow: 0px 0px 10px grey;
    color: white;
    border-radius: 3px;
    font-size: 1.2rem;
    clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
    line-height: 1.3;
    font-size: 1.5rem;
}



.application-form input{
    font-size: 2rem;
}

.application-form input + small {
    font-size: 1.2rem; 
}

.send-btn {
    font-size: 1.5rem;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
  }

#course-details h3{
    font-size: 2.2rem;
    font-weight: bold;
}

.footnote p {
    font-size: 1rem;
    font-style: italic;
}

div.thumbnail {
   padding-top: 15px; 
   padding-bottom: 15px; 
  
}

div.thumbnail img {
    
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: .3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

}

.capitalize {
    text-transform: capitalize;
}

.services_icon {
    font-size: 6rem;
    font-weight: bold;
    color: #db143c;
    transition: 0.3s;
}

.single_services:hover .services_icon {
    color: white;
}

.course-term {
    transition: 0.3s;
    font-weight: normal;
}

.single_services:hover .course-term {
    color: white !important;
}

.services_content p{
    text-align: left;
}

.go-to-course-btn {
    font-size: 1.5rem;
    font-weight: bold;
    transition: .3s;
}

.single_services:hover .go-to-course-btn{
    color:#db143c;
    background-color: white;
    border-color: #db143c;
}

#ort-recommends .recomends-btn {
    font-size: 1.5rem;
    font-weight: bold;
    border-width: 3px;
    border-radius: 0.5rem;
}

img.education-image {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}


.section_title .title {
    font-size: 24px;
}


@media(min-width:576px){
    .section_title .title {
        font-size: 32px;
    }
}

ul.about-list {
    list-style-type: circle;
    padding-left: 1.5rem;
}

ul.about-list > li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

span.page-scroll {
    position: relative;
    font-size: 18px;
    padding: 4px 0px;
}

@media(min-width:768px){
    
    span.page-scroll {
        padding: 32px 15px;
    }
    
}

span.page-scroll .bold {
    font-weight: 600;
    color: black;
}

span.page-scroll span:not(.bold){
    text-decoration: underline;
    cursor: pointer;
}

#in-package a {
    font-size: 1.5rem;
    font-weight: bold;
}


a.go-from-404 {
    font-size: 1.5rem;
    font-weight: bold;
}

#courses .courses-main-list .h3 {
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;
}

#course-details p.ptw {
    
    padding-top: 1.5rem;
}

#course-details .h5.gold, #course-details-qa h5  {
    font-weight: bold;
    font-size: 2rem;
    color:#db143c;
}

#course-details h3.h3{
    font-size: 2.5rem;
}

.team_image {
    box-shadow: 0 0 10px #ddd;
}

.faq ul {
    padding-left: 1.5rem;
    list-style-type: circle;
}

.faq ul li {
    font-size: 1.4rem;
}


.single_blog h2.blog_title {
    font-size: 22px;
}

@media (min-width:576px){
    .single_blog h2.blog_title {
        font-size: 36px;
    }
}


.q-and-a {
    font-size: 1.4rem;
}

ul.course-programm ul {
    padding-left: 1.8rem;
}

ul.course-programm li {
    font-size: 1.4rem;
    padding-left: 1rem;
}

ul.course-programm li li {
    font-size: 1.4rem;
    list-style-type: square;
    padding-left: 0rem;
}

.edu-types {
    box-shadow: 3px 3px 16px 0 rgb(8 152 231 / 20%);
    border-radius: 15px;
}

.edu-types p{
    font-size: 18px;
}

.courses-menu{
    display: none;
    padding: 0 15px;
    position: fixed;
    top: 87px;
    background: white;
    /* border: 2px solid red; */
    border-bottom: 1px solid #ddd ;
    z-index: 100;
    box-shadow: 0 4px 4px -2px #cacacae1;
}

.navbar-nav .nav-item a {
    padding: 8px;
}

@media (min-width:1200px) {

    .navbar-nav .nav-item a {
        padding: 30px 10px;
    }
}

@media (min-width: 1400px){
    .courses-menu{
        padding: 0 70px;
    }
}

.firm-color {
    color: #db143c;
}

#courses-menu-block {
    width: 100%;
}

.header-menu-section a:hover {
    text-decoration: underline;
}

.header-menu-title-group .sup-title {
    font-size: 14px;
    font-weight: 600;
}

.header-menu-title-group .title {
    font-size: 18px;
    font-weight: 600;
}

.header-menu-title-group .sub-title {
    font-size: 14px;
}
.header-menu-courses-list li a {
    font-size: 16px;
    color: black;
}

.header-menu-section + .header-menu-section {
    margin-top: 38px;
}
/*

#courses-menu-block h5 a:hover{
    text-decoration: underline;
}

#courses-menu-block li a {
    color: black;
    font-size: 18px;
}

#courses-menu-block li a:hover {
    text-decoration: underline;
}

#courses-menu-block li .start-date{
    font-size: 16px;
    font-weight: bold;
}

.head-menu-package-title .sup-title {
    font-size: 18px;
    font-weight: 600;
 font-weight: normal;
}

.head-menu-package-title .title {
    font-size: 24px;
}

.head-menu-package-title .sub-title {
    font-size: 15px;
}*/

.fs-1 {
    font-size: 36px;
}


.fs-2 {
    font-size: 24px;
}

.fs-3 {
    font-size: 18px;
}

.fs-4 {
    font-size: 16px;
}

.fs-5 {
    font-size: 13px;
}

.fs-6 {
    font-size: 8px;
}

.bold {
    font-weight: bold;
}

.formats-education {
    color: #38424d;
}

.formats-education > i + div {
    font-size: 16px;
}