body, .card{
    background-color: #111111;
    color: whitesmoke;
}
#navbar{
    background-color: #373737!important;
    
}
.navbar-brand, .nav-link, .btn-outline-dark    {
    color: whitesmoke!important;
}

.fa-telegram-plane, .fa-instagram, .fa-facebook, .fa-envelope{
    text-shadow: 0px 0px 0px!important;
}
#speci, #port, .list{
    background-color: #373737!important;
}
.character {
    background-color: #373737!important;
}