body{
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
header{
    background:  #748181;
}

#fav{
    display: inline;
    border-radius: 15px;
    width: 75px;
}
h1{
    display: inline;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

header{
    position:absolute;
    z-index: 10;
}
.mybarbut{
    border: 0px;
    
}


.fa-telegram-plane{
    color: rgb(80, 177, 223);
    text-shadow: 2px 5px 8px whitesmoke;
    font-size: 75px;
}
.fa-instagram{
    color: #fc0fc0;
    text-shadow: 2px 5px 8px whitesmoke;
    font-size: 75px;
}
.fa-facebook{
    color: #3b5998;
    text-shadow: 2px 5px 8px whitesmoke;
    font-size: 75px;
}
.fa-envelope{
    color: #c71610;
    text-shadow: 2px 5px 8px whitesmoke;
    font-size: 75px;
}
.about{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-gap:20px ;
    padding: 20px;
    text-align: justify;
    max-width: 100%;
}
.imgabout{
    max-width: 100%;
    display: block; 
    margin: auto;
    text-align: center;
}

#speci, #port{
    background-color: whitesmoke;
}
.spec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    grid-gap:20px ;
    padding: 20px;
}
.character{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px gray;
    text-align: center;
    padding: 50px;
    
}
.fa-laptop{
    font-size: 70px;
    transition: 0.5s linear;
}
.fa-laptop:hover{
    color: rgb(192, 10, 10);
    text-shadow: 2px 5px 8px gray;
   
}
.fa-home{
    font-size: 70px;
    transition: 1s linear;
}
.fa-home:hover{
    color: darkgoldenrod;
    text-shadow: 2px 5px 8px gray;
}
.fa-mobile-alt{
    font-size: 70px;
    transition: 0.5s linear;
    
}
.fa-mobile-alt:hover{
    color: dodgerblue;
    text-shadow: 2px 5px 8px gray;
    
}



#argument{
    display: grid;
    grid-template-columns:repeat(2, 50%) ;
    grid-template-rows: auto!important;
    grid-gap:35px ;
    padding: 20px;
    
}

.portfolio{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-gap:35px ;
    padding: 20px;

  
   
}
.ks{
   width: 100%;
}
.kscard{
    margin: auto;
}
.designed{
   
    display: grid;
    grid-template-columns: 1fr ;

    grid-gap:5px ;
    padding: 3px;
    
}

.postimg{
    display: block;
    margin: auto;
}


footer{
    background-color: rgb(85, 85, 85);
    color: whitesmoke;
}
.footera{
    color: rgb(162, 162, 199);
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-gap: 20px ;
    padding: 20px;
}

.social{
    background-color: whitesmoke;
    border-radius: 25px;
}

.tl, .fb, .in, .gm {
    margin: auto;
    padding: auto;
    text-align: center;
    padding-top: 7%;
}

@media (max-width: 1200px){
    .about{
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr;
        grid-gap:0px ;
        padding: 0px;
    }
    .hspec{
        margin-top: 5px!important;
        
    }
    #argument{
        grid-template-columns:1fr ;
        grid-template-rows: repeat(8, 1fr) ;

        grid-gap:0px ;
        padding: 0px;
    }
    .spec{
        grid-template-rows: auto;
    }


}
@media (max-width: 768px){
    .spec{
    
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap:20px ;
        padding: 5px;

        
    }
    .about{
        grid-template-columns: 1fr  ;
        grid-template-rows: auto!important;

    }

}
@media (max-width: 576px){
    .footer{
        
        grid-template-columns: 1fr;
        grid-template-rows: auto;


    }
    .tl, .fb, .in, .gm {
    font-size: 55px;
    margin-bottom:10px ;
    
    }
    h1{
        font-size: 13pt;
    }
    #fav{
        width: 50px;
    }
}

.posts{
    background-color: #111111;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

/*grid-template-areas: "brandimg"
"brand"
"visitimg"
"visit"
"contentimg"
"content" 
"priceimg"
"price" ;*/